/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&family=Yeseva+One&display=swap');

/* styles */
body {
    margin: 0;
    font-family: 'Nunito Sans' Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

body * {
    box-sizing: border-box;
}

.header {
    background-color: #131313;
}

.header-container {
    max-width: 1256px;
    margin: 0 auto;
}

.header-content {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.nav-bar {
    min-width: 581px;
}

.nav-bar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-bar-item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav-bar-item a {
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-bar-item:first-child a{
    color: #E3B873;
}

.phone {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.button {
    padding: 20px 42px;
    margin-right: 20px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 0px;
    border-radius: 2px;
    outline: 0;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button a{
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
}

.header-button {
    padding: 13px 33px;
    margin-right: 0;
    border: 2px;
}

.button-transparent {
    margin-right: 0;
    border: 1px solid #FFFFFF;
    background-color: transparent;
}

.main-section-1 {
    height: 707px;
    padding-top: 194px;
    background-image: url(../images/Section1_ImgLarge.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.main-section-1-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.main-container {
    max-width: 1236px;
    margin: 0 auto;
}

.main-container-overlay {
    position: relative;
    z-index: 1;
}

.section-1-container {
    max-width: 514px;
}

.title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subtitle {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
}

.h3-subtitle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

.highlight {
    color: #E3B873 !important;
}

.white-text {
    color: #FFFFFF !important;
}

.light-black-text {
    color: #363636 !important;
}

.gray-text {
    color: #959595 !important; 
}

.regular-register {
    text-transform: none !important;
}

.text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.text-center {
    text-align: center !important;
}

.bigger-text {
    font-size: 22px;
    line-height: 36px;
}

.regular-text {
    font-size: 18px;
    line-height: 37px;
}

.regular-text-lower {
    font-size: 18px;
    line-height: 26px;
}

.regular-text:nth-of-type(1) {
    width: 681px;
    text-align: center;
}

.smaller-text {
    font-size: 14px;
    line-height: 27px;
}

.even-smaller-text {
    font-size: 13px;
    line-height: 21px;
}

.main-section-2 {
    height: 1074px;
    padding-top: 107px;
    background-color: #131313;
}

.section-2-flow {
    display: flex;
    justify-content: space-between;
}

.section-2-flow-item-1 {
    max-width: 442px;
    margin-top: 45px;
}

.section-2-flow-item-2 {
    max-width: 679px;
}

.section-2-description-list-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.section-2-description-list {
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.slider {
    background-color: transparent;
    border: none;
}

.horizontal-list-no-bullet-points {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section-2-horizontal-list-item {
    margin-right: 60.5px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.section-2-horizontal-list-item:last-of-type {
    margin-right: 0px;
}

.main-section-3 {
    height: 2576px;
}

.section-3-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -330px;
}

.img-opacity {
    background: #000;

}

.img-opacity img {
    opacity: 0.3;
}

.img-opacity:first-of-type {
    margin-top: 31px;
    margin-bottom: 62px;
    height: 434px;
    width: 817px;
    position: relative;
}


.play-button {
    position: absolute;
    top: 165px;
    right: 357px;
    padding: 29px 29px 28px 33px;
    background: #E3B873;
    border: 0px;
    border-radius: 50px;
    outline: 0;
    color: #FFFFFF;
}

.play-icon {
    opacity: 1 !important;
}

.input-list-section-3 {
    margin-top: 73px;

}

.input-list-item {
    margin-right: 58px;
}

.text-field {
    margin-bottom: 1rem;
}

.text-field-label {
    display: block;
    margin-bottom: 1.5px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.text-field-input {
    display: block;
    width: 231px;
    height: 25px;
    padding: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    text-align: start;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.text-field-input::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

#submit_button_section_3 {
    padding: 20px 75px;
}

.custom-checkbox {
    position: absolute;
    visibility: hidden;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-flex;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 1px;
    margin-right: 8.5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border: none;
    background-color: #E3B873;
    background-image: url(../images/check_mark.svg);
}

.custom-checkbox:disabled+label::before {
    background-color: transparent;
}

.custom-checkbox:not(:disabled):active+label::before {
    background-color: #E3B873;
    border: none;
}

.types-of-repair-wrapper {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3-list-repairs-images {
    margin-top: 31px;
    width: 1236px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-3-list-repairs-wrapper {
    width: 1236px;
    display: flex;
    justify-content: space-around;
}

.section-3-list-repairs {
    width: 330px;
    background-color: #FFFFFF;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: -133px;
}

.section-3-list-repairs-item {
    margin-left: 34px;
}

.section-3-list-repairs-sublist {
    list-style-type: disc;
    margin-top: -5px;
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 0;
}

.section-3-list-repairs-button {
    padding: 20px 15px;
    width: 228px;
    position: relative;
}

.section-3-contact-measurer-wrapper {
    display: flex;
    justify-content: space-around;
    height: 725px;
    width: 1440px;
    background-image: url(../images/section-3-measurer-wrapper-background-img.svg);
    background-position: left;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-evenly;
}

.vertical-list-no-bullet-points {
    list-style-type: none;
}

.list-custom-bullet-points {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 474px;
    width: 374px;
    justify-content: space-between;
}

.list-custom-bullet-points-item-wrapper {
    display: flex;
    align-items: center;
}

.custom-bullet-point {
    font-family: 'Yeseva One';
    background: #E3B873;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgb(227 184 115 / 15%);
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

/* .list-custom-bullet-points-item:nth-child(1)::before {
    content: '01';
    padding: 6px;
    color: #FFFFFF;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background-color: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    margin-right: 10px;
} */

/* .list-custom-bullet-points-item:nth-child(2)::before {
    content: '02';
    padding: 6px;
    color: #FFFFFF;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background-color: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    margin-right: 10px;
}

.list-custom-bullet-points-item:nth-child(3)::before {
    content: '03';
    padding: 6px;
    color: #FFFFFF;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background-color: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    margin-right: 10px;
}

.list-custom-bullet-points-item:nth-child(4)::before {
    content: '04';
    padding: 6px;
    color: #FFFFFF;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background-color: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    margin-right: 10px;
} */

.list-custom-bullet-points-item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.contacts-form {
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-form {
    height: 509px;
    width: 506px;
}

.request-form-container {
    height: 427px;
    max-width: 408px;
    margin: 0 auto;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-form-label {
    color: rgba(255, 255, 255, 0.5) !important;
}

#email-input1 {
    margin-bottom: 13px;
}

.contacts-form-input {
    display: block;
    width: 408px;
    height: 25px;
    padding: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: start;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    }
    
.contacts-form-input::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.contacts-form-button {
    margin: 0;
    width: 213px;
    height: 51px;
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    white-space: nowrap;
    align-self: end;
}

